* {
  box-sizing: border-box;
}

$silver_gray: #999;
$dark_gray: #333;
$white: #fff;
$blue_btn: #38aef0; 

.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  height: 100vh;
  &__user-name {
    background-color: #253141;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: $white;
    &__top-items {
      margin: auto;
      width: 260px;
      height: 20px;
      display: flex;
      justify-content: space-between;
      &--btn {
        margin-left: 5px;
        text-decoration: none;
        color: $white;
      }
      &__name {
        font-size: 16px;
      }

    }
  }
  &__group-list {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    font-weight: bold;
    &__group {
      &__btn {
        text-decoration: none;
        &__name {
          color: $white;
          margin: 20px 20px 5px 20px;
          font-size: 15px ;
        }
        &__message {
          color: $white;
          margin: 0px 20px 40px 20px;
          font-size: 11px ;
        }
      }
    }
  }
}

.chat-main {
  width: calc(100vw - 300px);
  height: 100vh;
  &__group-list {
    height: 100px;
    background-color: $white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    &__name {
      margin-top: 35px;
      margin-bottom: 15px;
      color: $dark_gray;
      font-size: 20px;
      &__member {
        margin-top: 15px;
        font-size: 12px;
        color: $silver_gray;
      }
    }
    &__edit {
      &--btn {
        font-size: 16px;
        border: 1px solid ;
        padding: 10px 20px;
        text-decoration: none;
        color: $blue_btn;
      }
      
    }
  }
  &__message-list{
    background-color: #fafafa;
    height: calc(100vh - 190px);
    &__name {
      padding: 35px 0px 12px 40px;
      font-size: 16px;
      color: $dark_gray;
      display: flex;
      font-weight: bold;
      &--data {
        font-weight: lighter;
        margin-left: 10px;
        color: $silver_gray;
        font-size: 12px;
      }
    }
    &__content {
      margin-left: 40px;
      font-size: 14px;
      color: #434a54;
      margin-bottom: 11px;
    }
  }
  .form {
    background-color: #dddddd;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    bottom: auto;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
      padding-left: 10px;
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        cursor: pointer;
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $blue_btn;
      cursor: pointer;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}